.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body, html {
  height: 100%;
  margin: 0;
  background-image: url("./images/robo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: gray;
}
input,select,textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}
.col_img {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row_img::after {
  content: "";
  clear: both;
  display: table;
}

.row_img {
  display: flex;
}

.col_img {
  flex: 25%;
  padding: 5px;
}

.zoom:hover {
  display: block;
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
